a-a,
span.copyright a {
    color: #E91E63;
}

.post-inner-content .entry-content a {
    text-decoration: underline dotted;
}

.copyright {
    line-height: 10px;
}

footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #E91E63;
}

#footer-area ul li {
    border-bottom: 0px;
}


.btn-scopri,
.btn-scopri:hover,
.btn-scopri:focus,
.btb-scopri:active {
  background-color: transparent !important;
}

.btn-facebook,
.btn-facebook:hover,
.btn-facebook:active,
.btn-facebook:focus {
  background-color: #4862A3;
  color: white !important;
}

.btn-telegram,
.btn-telegram:hover,
.btn-telegram:active,
.btn-telegram:focus {
  background-color: #27A5E7;
  color: white !important;
}

.btn-rss,
.btn-rss:hover,
.btn-rss:active,
.btn-rss:focus {
  background-color: #F36F22;
  color: white !important;
}

.btn-instagram,
.btn-instagram :hover,
.btn-instagram :active,
.btn-instagram :focus  {
  background-color: #dd496e;
  color: white !important;
  /*    background:
          radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
          radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
          radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
          radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
          radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
          radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
          radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
          linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);*/
}

.color-fb {
  color: #4862A3;
}

.color-telegram {
  color: #27A5E7;
}

.color-rss {
  color: #F36F22;
}

.color-instagram {
  background-image:
    /* left bottom */
          radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
          radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
            /* left top */
          radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
          radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
            /*  right top */
          radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
          radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
            /* right bottom */
          radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),

            /* create a base coat to smooth */
            /* corner gradients */
          linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

